.nav {
  background-color: #efefef;
  font-size: 16px;
}

.nav__brand {
  color: #e92569 !important;
  font-size: 20px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: italic;
}

.nav__btn {
  background-color: #e92569;
  color: #ffffff;
  border: none;
  border-radius: 0px 4px 4px 0px;
}

.nav__link {
  color: #0a0a0a !important;
  margin: 0 !important;
  padding: 0 !important;
  margin-bottom: 20px !important;
}

.nav__link::after {
  position: absolute;
  content: "";
  background: #fff;
  color: red;
  font-weight: bold;
  left: 0;
  width: 100%;
  height: 2rem;
  z-index: -1;
}

@media (min-width: 992px) {
  .nav__search {
    border: none;
    border-radius: 4px 0 0 4px;
    color: #767676;
  }
}

body {
  background: radial-gradient(#ffffff, #e5e5e5);
}

.html,
.body {
  overflow-x: hidden;
}

.home__title {
  color: #e92569;
  font-family: "Playfair Display", serif;
  font-size: 34px;
}

.home__para {
  font-family: "Lato", sans-serif;
  color: #767676;
  font-size: 16px;
  line-height: 1.5;
}

.responsive-tabs {
  padding: 1rem;
}

.responsive-tabs .nav-tabs {
  display: none;
}

@media (min-width: 768px) {
  .responsive-tabs .nav-tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .responsive-tabs .card {
    border: none;
  }
  .responsive-tabs .card .card-header {
    display: none;
  }
  .responsive-tabs .card .collapse {
    display: block;
  }
  .tabgrid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
    -ms-grid-rows: 1fr 25px;
        grid-template-rows: 1fr 25px;
  }
  .tabgrid__txt {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .tabgrid__img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .tabgrid__links {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    grid-column: 2;
  }
}

@media (max-width: 767px) {
  .responsive-tabs .tab-pane {
    display: block !important;
    opacity: 1;
  }
}

.imgCarousel__btn {
  width: 30px !important;
  height: 30px !important;
  border-radius: 2px !important;
  border: none !important;
  opacity: 1 !important;
}

.imgCarousel__indicator > .active {
  background-color: #e92569 !important;
}

.nav-tabs,
.nav-link {
  border-bottom: none !important;
}

.nav-link.active {
  border-color: #d1d1d1 #d1d1d1 #ffffff !important;
  border-top-left-radius: 0.75rem !important;
  border-top-right-radius: 0.75rem !important;
}

.tabs__nav {
  background: none !important;
}

.tabs__link {
  color: #e92569;
  padding-left: 2rem;
  padding-right: 2rem;
}

.tabs__card {
  border-radius: 2rem 2rem 0 0 !important;
}

.tabs__header {
  background-color: #ffffff;
  border-bottom: 1px solid #e92569;
  border-radius: 1rem 1rem 0 0 !important;
}

.tabs__headlink {
  text-decoration: none !important;
  color: #e92569;
  font-family: "Lato", sans-serif !important;
}

.tabs__content {
  -webkit-box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 1rem 1rem 0 0 !important;
}

.tabs__content > .active {
  color: #767676 !important;
}

.tabs__para {
  font-size: 16px;
}

.tabs__share {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  color: #0a0a0a;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tabs__share i {
  font-size: 25px;
  width: auto;
}

.card-body {
  background: radial-gradient(#ffffff, #e5e5e5);
}

.footer {
  color: #767676;
  background-color: #ffffff !important;
  font-family: "Lato", sans-serif !important;
  font-size: 16px !important;
  font-weight: 400 !important;
}

.footer i {
  font-size: 30px !important;
}
/*# sourceMappingURL=style.css.map */