body {
  background: radial-gradient(#ffffff, #e5e5e5);
}

.html,
.body {
  overflow-x: hidden;
}
.home {
  &__title {
    color: $color-font-pink;
    font-family: $font-primary;
    font-size: 34px;
  }
  &__para {
    font-family: $font-secondary;
    color: $color-font-gray;
    font-size: 16px;
    line-height: 1.5;
  }
}

.imgCarousel {
  &__btn {
    width: 30px !important;
    height: 30px !important;
    border-radius: 2px !important;
    border: none !important;
    opacity: 1 !important;
  }
  &__indicator {
    > .active {
      background-color: $color-font-pink !important;
    }
  }
}

.card-body {
  background: radial-gradient(#ffffff, #e5e5e5);
}
