body {
  background: $color-bg;
}

.carousel-img {
  max-width: 1320px;
  margin: 0 auto;
}
.home {
  padding-left: 0;
  padding-right: 0;
  &__title {
    color: $color-font-pink;
    font-family: $font-primary;
    font-size: 34px;
  }
  &__para {
    font-family: $font-secondary;
    color: $color-font-gray;
    font-size: 16px;
    line-height: 1.5;
  }
}

.imgCarousel {
  margin-top: 0px;
  &__btn {
    width: 30px !important;
    height: 30px !important;
    border-radius: 2px !important;
    border: none !important;
    opacity: 1 !important;
  }
  &__indicator {
    > .active {
      background-color: $color-font-pink !important;
    }
  }
}

@media (max-width: 992px) {
  .imgCarousel {
    margin-top: 72px !important;
  }
  .home {
    margin-top: 0.75rem !important ;
  }
  .carousel-item img {
    min-height: 287px !important;
    object-fit: cover !important;
  }
}
