.nav {
  background-color: $color-nav;
  font-size: 16px;
  box-shadow: 1px 1px 200px rgba(0, 0, 0, 0.2);
  font-family: $font-secondary !important;

  &__brand {
    color: $color-font-pink !important;
    font-size: 20px;
    font-family: $font-primary;
    font-weight: 700;
    font-style: italic;
  }
  &__toggler {
    border: none !important;
  }

  &__collapse {
    min-height: 300px;
  }
  &__btn {
    background-color: $color-font-pink;
    color: $color-white;
    border: none;
    border-radius: 0px 4px 4px 0px;
  }
  &__link {
    color: $color-font-black !important;

    &--first,
    &--second,
    &--third {
      &::after {
        position: absolute;
        content: "";
        background: #fff;
        left: -1000px;
        width: 100%;
        height: 3rem;
        z-index: -1;
        animation: slide 0.5s forwards;
        animation-delay: 0.2s;
      }
      @keyframes slide {
        100% {
          left: 0px;
        }
      }
    }
    &--first {
      &::after {
        bottom: 270px;
      }
    }

    &--second {
      &::after {
        bottom: 213px;
      }
    }
    &--third {
      &::after {
        bottom: 158px;
      }
    }
  }
  &__search {
    height: 48px;
  }
}
.navbar-toggler {
  &:focus {
    box-shadow: none;
  }
}

.collapsed {
  border: none !important;
}

@media (min-width: 992px) {
  .nav {
    position: static !important;
    box-shadow: none !important;

    &__container {
      align-items: baseline !important;
      padding: 0.25rem 0 !important;
    }
    &__ul {
      align-items: center;
    }
    &__link {
      &--first,
      &--second,
      &--third {
        background: $color-white;
        border-radius: 5px;
        padding: 0.25rem 1.5rem !important;
        margin-left: 0 !important;
        &::after {
          display: none;
        }
      }
    }
    &__collapse {
      margin: 0 !important;
      align-items: center;
      min-height: auto !important;
    }
    &__form {
      margin: 0 !important;
      width: 245px !important;
    }

    &__search {
      border: none;
      border-radius: 4px 0 0 4px;
      color: $color-font-gray;
      padding: 0 1rem !important;
      width: 250px;
      height: 37px !important;
      font-family: $font-secondary !important;
    }
  }
  .imgCarousel {
    margin-top: 0 !important;
  }
}
