.accordion {
  border-radius: 10px !important;
  overflow: hidden;
  box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 175px;

  &__item {
    border: none !important;
  }
  &__btn {
    color: $color-font-pink !important;
    &:not(.collapsed) {
      background-color: $color-white !important ;
      border-color: $color-font-pink !important;
      border-bottom: 1.5px solid $color-font-pink;
    }
    &:focus {
      box-shadow: none !important;
    }
    &--second {
      border-top: 1px solid rgb(230, 230, 230) !important;
      border-bottom: 1px solid rgb(230, 230, 230) !important;
    }
    &::after {
      display: none !important;
    }
  }
  &__body {
    background: radial-gradient(#ffffff, #e5e5e5) !important;

    .tabgrid__txt {
      color: $color-font-gray !important;
      font-family: $font-secondary !important;
      font-weight: 400;
    }
    .tabgrid__link {
      font-family: $font-secondary;
      text-transform: uppercase;
      font-size: 16px;

      .tabgrid__share i {
        font-size: 25px;
      }
    }
  }
}

.tabnav {
  &__tabs {
    background: none !important;
    border-bottom: 1px solid $color-border !important;
    box-shadow: none !important;
  }
  &__link {
    color: $color-font-pink !important;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 19px;
    font-family: $font-secondary !important;
    &:focus {
      color: $color-font-gray !important;
    }
    &.active {
      border-color: $color-border $color-border $color-white !important;
      color: $color-font-gray !important;
      border-radius: 10px 10px 0 0 !important;
    }
  }
}
.tabs {
  padding: 0 !important;
}
.tabcontent {
  background: $color-white;
  border: 1px solid $color-border;
  border-top: none !important;
}

.tabrow {
  font-family: $font-secondary !important;
  &__text {
    color: $color-font-gray;
  }
  &__links {
    text-transform: uppercase;
    i {
      font-size: 25px !important;
    }
  }
}

@media (min-width: 768px) {
  .accordion {
    display: none;
  }
  .tabnav {
    display: block !important;
  }
  .tabcontent {
    display: block !important;
  }
}
