$color-font-pink: #e92569;
$color-font-gray: #767676;
$color-font-black: #0a0a0a;

$color-nav: #efefef;
$color-form-gray: #c7c7c7;
$color-white: #ffffff;
$color-bg: radial-gradient(#ffffff, #e5e5e5);
$color-border: #d1d1d1;

$font-primary: "Playfair Display", serif;
$font-secondary: "Lato", sans-serif;
